* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}

.header {
    grid-area: header;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303841;
}

.logo {
    padding-left: 30px;
}

.logo img {
    width: 80px;
    height: auto;
    margin: auto;
    padding-top: 10px;
}

.titulo {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
    padding-top: 10px;
}

.carrito {
    padding-right: 30px;

}

.carrito img {
    width: 80px;
    height: auto;
    margin: auto;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00ADB5;
}

.sec {
    padding-top: 70px;
    padding-bottom: 70px;
}

.juego1 {
    padding-bottom: 35px;
}

.juego1_nombre {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.juego1_img {
    width: 430px;
    height: auto;
    text-align: center;
}

.juego1_compra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.juego1_compraPrecio {
    font-size: 35px;
    font-weight: bold;
    text-align: right;
}

.juego1_compraCarrito {
    width: 80px;
    height: auto;
}

.juego2 {
    padding-top: 35px;
}

.juego2_nombre {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.juego2_img {
    width: 430px;
    height: auto;
    text-align: center;
}

.juego2_compra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.juego2_compraPrecio {
    font-size: 35px;
    font-weight: bold;
    text-align: right;
}

.juego2_compraCarrito {
    width: 80px;
    height: auto;
}

#footer {
    grid-area: footer;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D3E0EA;
}

.contacto {
    font-size: 20px;
    padding-left: 30px;
}

.derechos {
    padding-right: 30px;
    padding-top: 5px;
}
